*{
    margin: 0 auto;
}

body{
  background-color:#fbf6f0;
    font-family: 'Roboto Condensed', sans-serif;

}

.headwords{ 
display: flex; 
justify-content: space-around; 
color: black; 
font-family: ‘MS Serif’, serif; 
background-color:#fbf6f0; 
background-size: 100%;
font-size: 15px; 
padding-top:18px; 
padding-right: 20px; 
padding-left: 1105px; 
padding-bottom: 1px;  

} 
#quote{ 
width: 68%; 
height: auto; 
padding-top: 7px; 
padding-bottom: 5px; 
margin-top: 5px; 
font-size: 18px;
padding-left: 70px; 
padding-right: 70px; 

} 
.create{ 
text-align: center; 
padding-top: 30px; 
text-shadow: #4c4c4c 0 0 6px; 
color: black; 
background-color:#fbf6f0; 
width: 100%; 
height: 520px; 
font-family: ‘MS Serif’, serif;
} 
#photo1{
    padding-top: 10px;
}
#visual{
    font-size: 49px;
}
#information{
   font-size: 25px;
   text-align: center;
   text-shadow: #4c4c4c 0 0 6px; 
   color: black;
}
#sometext{
    color: black; 
    text-align: center;
}
#change{
    color: black; 
    text-shadow: #4c4c4c 0 0 1px; 
}
#inform{ 
    font-size: 25px; font-family: ‘MS Serif’, serif; 
    color: #f8efd4; 
    padding-left: 29px; 
    padding-right: 29px;
} 
#last{ 
    background-color: #fbf6f0; 
} 
.closed{
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    cursor: pointer;
}
.nav{
    float: left;
}
label{
    margin: 8px 0 0 20px;
    font-size: 30px;
    display: none; 
}
#toggle{
    display: none;

}
@media (max-width: 700px){
    .headwords{
        background-color:#fbf6f0; 
background-size: 100%;
        color: black;
        font-size: 12px;
        padding-left: 20px;
    }
    .carousel-inner-first > img{
  width: 70px;
  height: 520px;
  }
  #car_cont{
    margin-top:361px;
  }
    .map{
       padding-left: -20px;
          width: 700px;
          height: 300px;
    }
    #inspotext{
        margin-left: 10px;
    }
    #last{
        background-color: #fcdada;
    }
    #block3{
        width: 100%;
        height: 1775px;
        background-color: #fbf6f0;
        flex-wrap: wrap;
    }
   #carousel-control-prev-icon{
    margin-top: 35px;

}
#carousel-control-next-icon{
     margin-top: 35px;
}
#bl2{
width: 100%;
  height: 1575px;
     background-color: #fbf6f0;
   background-size: contain;  
  border-bottom: 16px solid #fbf6f0;
  border-left: 16px solid #fbf6f0;
  border-right: 16px solid #fbf6f0;
}
#block2{
  flex-wrap: wrap;
}

  #carousel-kv1{
    padding-top: 14px; 

    }
#carousel-kv2{
   top: 40px;
}
#carousel-kv3{
   top: 65px;
}
#carousel-kv4{
   top: 85px;

}
#carousel-kv5{
   top: 110px;

}
#carousel-kv6{
   top: 130px;

}
    #photo1{
      width:80%;
      height: 206px;
      padding-top: 3px;
    }
    #sometext{
        color: #faf3dd;
    }
    #inform{
        margin: 0 auto;
    }
    .create{
        background-size: 700px;

    }
    #quote{
        padding-bottom: 10px;
        margin-top: 1px;
     width: 94%;
     padding-left: 1px;
     padding-right: 1px;

  }
#last{
   background-color:#fbf6f0; 
}
    #visual{     
       margin-top: 14px;
        font-size: 40px;
        padding-right: 10px;
        margin-right: 27px;
        margin-left: 50px;
    }
    #information{
        font-size: 20px;
    }
    #sometext{
      color: black;
        font-size: 19px;
        margin-left: -22px;
        margin-right: -19px;
        padding-top: 5px;
         text-shadow: #4c4c4c 0 0 1px;

    }
    label{
        display: block;
        cursor: pointer;
    }
    .headwords{
      
        display: block;
        text-align: center;
        padding-top: 60px;
        font-size: 25px;
    }
    .headwords div{
        border-top: 1px solid grey;
        padding: 10px 0; 
    }
    #toggle:checked + .headwords{
        display: none;
    }
     .carousel-inner-first > img{
  width: 70px;
  height: 520px;
  }
  #car_cont{
    margin-top:361px;
  }
    .map{
       padding-left: -20px;
          width: 700px;
          height: 300px;
    }
    #inspotext{
        margin-left: 10px;
    }
   
  }
@media (max-width: 1340px){
   
    .cards{
        flex-direction: column;
        justify-content: center;
    }
}

#main{
    cursor: pointer;
}
#inspo{
    cursor: pointer;
}
#photo{
    cursor: pointer;
}
#pinterest{
    cursor: pointer;
}
#advice{
    cursor: pointer;
}
#insta_photo{
  float: left; 
  margin-top: 50px;
  padding-left: 140px;

}
     #h2_text{
      float: left;
font-family: "FreeMono", monospace; 
padding-top:248px; 
padding-right: 200px; 
padding-left: 685px; 
color:black;
font-size: 22px;
position: absolute;
     }
   
     #photo_with_id{
      width: 100%;
      
     }
     #upbutton {
    background: url("vverh.png") no-repeat top left;
    height: 60px;
    width: 60px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
}

  .block3{
    width: 100%;
    height: 609px;
    background-color: #fbf6f0;
     display: flex;
     border-top: 6px solid #fbf6f0;
}
#carousel-thumb-one{
    width: 410px;
    height: 230px;
    padding-top: 25px;
}
#carousel-thumb-second{
    width: 410px;
    height: 230px;
    padding-top: 25px;
}
#carousel-thumb-third{
    width: 410px;
    height: 230px;
    padding-top: 25px;
}
.carousel-control-prev-icon{
    margin-top: 342px;
}
.carousel-control-next-icon{
     margin-top: 342px;
}
.carousel-indicators{
     top:500px; 
}
#carousel-indicators-vtoroi{
     top:500px; 
}
#inspotext{
     color: #faf3dd; 
    text-shadow: #4c4c4c 0 0 6px;
     font-size: 25px; font-family: ‘MS Serif’, serif; 
     padding-top: 30px;
     text-align: center;
}
#map {
 width: 70%;
 padding-left: 10px;
 top: 20px;
 height: 400px;
}
.map-info{
    width: 40px;

}
#block2{
  width: 100%;
  height: 275px;
  display: flex;
  background-color: #fbf6f0;
  border-bottom: 16px solid #fbf6f0;
  border-left: 16px solid #fbf6f0;
  border-right: 16px solid #fbf6f0;
}
#carousel-kv1{
    width: 230px;
    height: 230px;
    padding-top: 14px;
    }
#carousel-kv2{
    width: 230px;
    height: 230px;
    padding-top: 14px;
}
#carousel-kv3{
    width: 230px;
    height: 230px;
    padding-top: 14px;
}
#carousel-kv4{
    width: 230px;
    height: 230px;
    padding-top: 14px;
}
#carousel-kv5{
    width: 230px;
    height: 230px;
    padding-top: 14px;
}
#carousel-kv6{
    width: 230px;
    height: 230px;
    padding-top: 14px;
   
}
#carousel-indicators-first{
top:210px;
}
.carousel-control-prev-icon{
    margin-top: 52px;
}
.carousel-control-next-icon{
     margin-top: 52px;
}
#text1{
  width: 100%;
  height: 2410px;
  flex-wrap: wrap;
  text-align: center;
  font-family: ‘MS Serif’, serif; 
background-color:#fcdada;  
color: black;
  
}

#car_cont{
    margin-top:361px;
  }
 



  .cards{
  width: 1519px;
    height: 400px;
     margin-top: 66px;
      background-color: #fcdada;  
      margin-left: -140px; 
      
    }
    .card-title{ 
    text-align: center; 
    display: flex; 
    justify-content: space-around; 
    font-family: ‘MS Serif’, serif; 
    font-size: 16px; 
    padding-left: 14px;
    padding-right: 10px;
    color: black;
} 
.card{ 
    width:560px; 
    height: 320px; 
    background-color: #fbf6f0;
} 

.popup{
    top: 0;
    display: flex;
 
    width: 100%;
    font-family: ‘MS Serif’, serif; 
    background-color: #bedcfa;

}
.popup-content{
    text-align: center;
}
input{
    display: block;
    text-align: center;
    margin: 20px;
    background-color:#fbf6f0;
    color: black;
 
}
textarea{
    display: block;
    text-align: center;
    margin: 20px auto;
    background-color: #fbf6f0;
    border-radius: 2px;
    color: black;

}
  #h2_text{
      float: left;
font-family: "FreeMono", monospace; 
padding-top:248px; 
padding-right: 200px; 
padding-left: 685px; 
color:black;
font-size: 22px;
position: absolute;
     }
   
     #photo_with_id{
      width: 100%;
      
     }
